* {
  padding: 0;
  margin: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

#navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 5;
  justify-content: space-between;
  padding-left: 1em;
  align-items: center;
  height: 6em;
}

#Company-name {
  color: white;
}

#Company-name em {
  color: #541ef9;
}

#navbar nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
}

.navbar-link {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
  padding: 1.7em;
}

.navbar-link:hover {
  background-color: hsl(235, 100%, 50%, 0.5);
}

#front-image {
  height: 100%;
  width: 100%;
}

#news-section {
  margin-top: 3.5em;
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.8),
      rgba(117, 117, 117, 0.73)
    ),
    url(images/front-image.jpg);
  background-size: cover;
}

#news-text {
  height: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#news-text h4 {
    color: #1a0066;
    font-size: 2em;
}

#news-text h2 {
    margin-top: 1em;
    font-size: 3em;
    color: white;
}

#product-section {
    margin: 5em 7em;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.product img{
    height: 240px;
    width: 240px;
    padding: 1em
}

#about-us-title {
    margin-top: 4em;
}

#section-flex {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 4em;
}

#section-flex img {
    padding-top: 5em;
    height: 250px;
    width: 450px;
}

#about-us-text {
    padding-top: 4em;
}

#about-us-text h3{
    padding-bottom: 2em;
}

#about-us-text ul{
    padding-left: 2em;
    padding-bottom: 5em;
}

#about-us-text p{
    padding-bottom: 2em;
}

footer h3 {
    text-align: center;
}